@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
input {-webkit-appearance:none; /*去除input默认样式*/}

input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none;}
a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
.tapArea{-webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}

/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:0;font-family: Microsoft YaHei;}
body{ position: relative; font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif; color:#666; background-color:#F7F7F7; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#666; font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none; vertical-align: bottom;}

/* 通用基样式 */
.t-css{width:100%; overflow:hidden; display:table; }
.t-img-css{display:block; width:100%; height:auto; overflow:hidden;} 
.t-row-css{display:table-row; width:100%; }
.t-cell-css{display:table-cell; overflow:hidden; vertical-align:middle; text-align:center; height:100%; box-sizing:border-box; }
.rm-a-css{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.set-img-css{display:block; width:100%; height:auto; overflow:hidden;}
.base-box-css{width:100%; overflow:hidden;}
.t_orange{color: #fd741c;}


/*公用基本样式*/
html{ height: 100%;}
body{ min-height: 100%;}

*:focus{ outline: none;}

input,button{ -webkit-appearance : none ;}

/*iconfont*/
[class^="iconfont"]:before,[class*=" icon-"]:before{ vertical-align: middle;}


/*遮罩层*/
.mask{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.5);display:none; z-index:100}

/*背景颜色*/
.bg_w{ background: #fff;}  /*白色*/
.bg_e{ background: #eee;}  /*灰色*/
.bg_orange{ background:#fd741c;} /*橙色*/
.bg_black_op8{ background:rgba(0,0,0,0.8);color:#fff;}  /*半透明*/

/*border  边框*/
.bd_a0{ border: 1px solid #a0a0a0;}
.bd_a0_l{ border-left: 1px solid #a0a0a0;}
.bd_a0_r{ border-right: 1px solid #a0a0a0;}
.bd_a0_t{ border-top: 1px solid #a0a0a0;}
.bd_a0_b{ border-bottom: 1px solid #a0a0a0;}
.bd_a0_lr{ border-left: 1px solid #a0a0a0;border-right: 1px solid #a0a0a0;}
.bd_a0_tb{ border-top: 1px solid #a0a0a0;border-bottom: 1px solid #a0a0a0;}

.bd_d2{ border: 1px solid #d2d2d2;}
.bd_d2_l{ border-left: 1px solid #d2d2d2;}
.bd_d2_r{ border-right: 1px solid #d2d2d2;}
.bd_d2_t{ border-top: 1px solid #d2d2d2;}
.bd_d2_b{ border-bottom: 1px solid #d2d2d2;}
.bd_d2_lr{ border-left: 1px solid #d2d2d2;border-right: 1px solid #d2d2d2;}
.bd_d2_tb{ border-top: 1px solid #d2d2d2;border-bottom: 1px solid #d2d2d2;}

.bd_b9{ border: 1px solid #b9b9b9;}
.bd_b9_l{ border-left: 1px solid #b9b9b9;}
.bd_b9_r{ border-right: 1px solid #b9b9b9;}
.bd_b9_t{ border-top: 1px solid #b9b9b9;}
.bd_b9_b{ border-bottom: 1px solid #b9b9b9;}
.bd_b9_lr{ border-left: 1px solid #b9b9b9;border-right: 1px solid #b9b9b9;}
.bd_b9_tb{ border-top: 1px solid #b9b9b9;border-bottom: 1px solid #b9b9b9;}

.bd_or{ border: 1px solid #fd741c;}
.bd_or_l{ border-left: 1px solid #fd741c;}
.bd_or_r{ border-right: 1px solid #fd741c;}
.bd_or_t{ border-top: 1px solid #fd741c;}
.bd_or_b{ border-bottom: 1px solid #fd741c;}
.bd_or_lr{ border-left: 1px solid #fd741c;border-right: 1px solid #fd741c;}
.bd_or_tb{ border-top: 1px solid #fd741c;border-bottom: 1px solid #fd741c;}

.bd_9a_dash_b{ border-bottom:1px dashed #9a9a9a;}
.bd_9a_dash_t{ border-top:1px dashed #9a9a9a;}
.bd_9a_dash_tb{ border-top:1px dashed #9a9a9a;border-bottom:1px dashed #9a9a9a;}



/*圆角*/
.border_circle{ border-radius:50%;}

/*padding  内边距*/
.p4{ padding: 4px;}
.pl4{ padding-left: 4px;}
.pr4{ padding-right: 4px;}
.pt4{ padding-top: 4px;}
.pb4{ padding-bottom: 4px;}
.plr4{ padding-left: 4px; padding-right: 4px;}
.ptb4{  padding-top: 4px; padding-bottom: 4px;}

.p6{ padding: 6px;}
.pl6{ padding-left: 6px;}
.pr6{ padding-right: 6px;}
.pt6{ padding-top: 6px;}
.pb6{ padding-bottom: 6px;}
.plr6{ padding-left: 6px; padding-right: 6px;}
.ptb6{  padding-top: 6px; padding-bottom: 6px;}

.p8{ padding: 8px;}
.pl8{ padding-left: 8px;}
.pr8{ padding-right: 8px;}
.pt8{ padding-top: 8px;}
.pb8{ padding-bottom: 8px;}
.plr8{ padding-left: 8px; padding-right: 8px;}
.ptb8{  padding-top: 8px; padding-bottom: 8px;}

.p10{ padding: 10px;}
.pl10{ padding-left: 10px;}
.pr10{ padding-right: 10px;}
.pt10{ padding-top: 10px;}
.pb10{ padding-bottom: 10px;}
.plr10{ padding-left: 10px; padding-right: 10px;}
.ptb10{  padding-top: 10px; padding-bottom: 10px;}

.p15{ padding: 15px;}
.pl15{ padding-left: 15px;}
.pr15{ padding-right: 15px;}
.pt15{ padding-top: 15px;}
.pb15{ padding-bottom: 15px;}
.plr15{ padding-left: 15px; padding-right: 15px;}
.ptb15{  padding-top: 15px; padding-bottom: 15px;}

.p20{ padding: 20px;}
.pl20{ padding-left: 20px;}
.pr20{ padding-right: 20px;}
.pt20{ padding-top: 20px;}
.pb20{ padding-bottom: 20px;}
.plr20{ padding-left: 20px; padding-right: 20px;}
.ptb20{  padding-top: 20px; padding-bottom: 20px;}

.p25{ padding: 25px;}
.pl25{ padding-left: 25px;}
.pr25{ padding-right: 25px;}
.pt25{ padding-top: 25px;}
.pb25{ padding-bottom: 25px;}
.plr25{ padding-left: 25px; padding-right: 25px;}
.ptb25{  padding-top: 25px; padding-bottom: 25px;}

.pb80{ padding-bottom: 80px;}   /*留出底部导航的位置*/
.pt50{ padding-top: 50px;}   /*留出顶部搜索导航的位置*/

/*margin  外边距*/
.m3{ margin: 3px;}
.ml3{ margin-left: 3px;}
.mr3{ margin-right: 3px;}
.mt3{ margin-top: 3px;}
.mb3{ margin-bottom: 3px;}
.mlr3{ margin-left: 3px; margin-right: 3px;}
.mtb3{  margin-top: 3px; margin-bottom: 3px;}

.m10{ margin: 10px;}
.ml10{ margin-left: 10px;}
.mr10{ margin-right: 10px;}
.mt10{ margin-top: 10px;}
.mb10{ margin-bottom: 10px;}
.mlr10{ margin-left: 10px; margin-right: 10px;}
.mtb10{  margin-top: 10px; margin-bottom: 10px;}

.m15{ margin: 15px;}
.ml15{ margin-left: 15px;}
.mr15{ margin-right: 15px;}
.mt15{ margin-top: 15px;}
.mb15{ margin-bottom: 15px;}
.mlr15{ margin-left: 15px; margin-right: 15px;}
.mtb15{  margin-top: 15px; margin-bottom: 15px;}

.m20{ margin: 20px;}
.ml20{ margin-left: 20px;}
.mr20{ margin-right: 20px;}
.mt20{ margin-top: 20px;}
.mb20{ margin-bottom: 20px;}
.mlr20{ margin-left: 20px; margin-right: 20px;}
.mtb20{  margin-top: 20px; margin-bottom: 20px;}

/*text  字体颜色*/
.t_fe3c3c{ color: #fe3c3c;}
.t_41c8cd{ color: #41c8cd;}
.t_4180cd{ color: #4180cd;}
.t_666{ color: #666;}
.t_f00,.red{ color: #f00;}
.t_275680{ color: #275680;}
.t_fd741c{ color: #fd741c;}

/*text 文字对齐*/
.t_c{ text-align: center;}
.t_l{ text-align: left;}
.t_r{ text-align: right;}


/*text  一行超出显示省略号*/
.t_norwrap{white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;overflow: hidden;}


/*float  浮动*/
.l{ float: left;}
.r{ float: right;}
.lr_no{ float: none;}


/*font-size  字体大小*/
.f_08{ font-size: 0.8rem;}
.f_09{ font-size: 0.9rem;}
.f_10{ font-size: 1.0rem;}
.f_11{ font-size: 1.1rem;}
.f_12{ font-size: 1.2rem;}
.f_18{ font-size: 1.8rem;}
.f_20{ font-size: 2.0rem;}
.f_40{ font-size:4rem;}
.f_50{ font-size:5rem;}



/*line-height*/
.lh150{ line-height:150%;}   /*文本行高*/


/*display*/
.hidden{ display:none;}
.show{ display:block;}


/*按钮公共样式*/
.btn{ padding: 8px 20px; border-radius: 3px; font-size: 1.1rem;}
.btn_organe{ border:none;background:#fd741c; border-radius:3px; font-size:1.1rem; color:#fff;}
.btn_organe:hover{ background:#fe6300;}
.btn_gray{ border:none;background:#f0f0f0; border-radius:3px; font-size:1.1rem; }
.btn_gray:hover{ background:#e1e0e0;}



/*列表公用样式*/
.pro_nav{ position:relative;}
.bd_line{ position: absolute;left: 0; bottom: 0; -webkit-transition: all 0.5s; transition: all 0.5s; height: 2px; background: #fd741c; width: 33%;}
.pro_nav > a{ display: block; width: 33%; float: left; text-align: center;}
.pro_nav > a.active{ color: #fd741c;}
.pro_list > div{ opacity: 0; display: none; } 
.pro_list > div.active{ opacity: 1; display: block; -webkit-animation: show 0.5s 0s ease-in-out forwards;animation: show 0.5s 0s ease-in-out forwards;} 
.pro_list > div.active > .item > p .iconfont{ margin-right: 2px;}
.pro_list .item > a{ display: block; width: 100%;}
.pro_list .item .img{ width: 35%; box-sizing: border-box;-webkit-box-sizing: border-box;}
.pro_list .item .img img{ border-radius: 5px;}
.pro_list .item .info{ width: 65%;}
.pro_list .item .info del{ font-size: 0.8rem;}
.pro_list .item .info .iconfont{ margin-right: 4px;}
.loadmore{ display: block;}

@keyframes show {
	from {opacity: 0;}
	to { opacity: 1;}
}

@-webkit-keyframes show {
	from {opacity: 0;}
	to { opacity: 1;}
}


/*字体图标高亮*/
.active .icon-jjshshouye:before{content: "\e62c";}
.active .icon-jjshshangjia:before{content: "\e629";}
.active .icon-jjshkaidian:before{content: "\e631";}
.active .icon-jjshwode:before{content: "\e62f";}

/*loading*/
.ui-loading {
	display: inline-block;
	vertical-align: top;
	margin-right: 4px;
    width: 1.2rem;
    height: 1.2rem;
    text-indent: -10000px;
    background: url('../commonImg/ui-loading.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
	from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}



/*------------------------20151015------------------------*/

/*border*/
.bd_orange{ border: 1px solid #fd741c;}
.bd_orange_l{ border-left: 1px solid #fd741c;}
.bd_orange_r{ border-right: 1px solid #fd741c;}
.bd_orange_t{ border-top: 1px solid #fd741c;}
.bd_orange_b{ border-bottom: 1px solid #fd741c;}
.bd_orange_lr{ border-left: 1px solid #fd741c;border-right: 1px solid #fd741c;}
.bd_orange_tb{ border-top: 1px solid #fd741c;border-bottom: 1px solid #fd741c;}

/*position*/
.p_relative{ position: relative;}
.p_absolute{ position: absolute;}
.p_absolute_l{ position: absolute; left: 0; top:0;}
.p_absolute_r{ position: absolute; right:0; top:0;}
.p_absolute_t{ position: absolute; top: 0;}
.p_absolute_b{ position: absolute; bottom: 0;}
.p_absolute_100{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.fixft{ position: fixed; left: 0; bottom: 0; width: 100%; z-index: 11;}

/*text color*/
.t_999{ color: #999;}

/*text style*/
.t_under{ text-decoration: underline;}

/*font size*/
.f_14{ font-size: 1.4rem;}
.f_16{ font-size: 1.6rem;}

/*border-radius*/
.b_radius0{ border-radius: 0px;}
.b_radius3{ border-radius: 3px;}
.b_radius6{ border-radius: 6px;}
.b_radius50{ border-radius: 50%;}

/*width*/
.wp10{ width: 10%;}
.wp20{ width: 20%;}
.wp24{ width: 24%;}
.wp25{ width: 25%;}
.wp28{ width: 28%;}
.wp30{ width: 30%;}
.wp33{ width: 33.33333333333333%;}
.wp40{ width: 40%;}
.wp50{ width: 50%;}
.wp60{ width: 60%;}
.wp70{ width: 70%;}
.wp72{ width: 72%;}
.wp75{ width: 75%;}
.wp76{ width: 76%;}
.wp80{ width: 80%;}
.wp90{ width: 90%;}
.wp100{ width: 100%;}

/*footer*/
footer{ position: fixed; left: 0; bottom: 0; width: 100%; z-index: 10; background: #ededed;}
.index_foot a{ display: block; float: left; width: 25%; text-align: center;}
.index_foot a.active,.index_foot a.active .iconfont{ color:#fd741c; }
.index_foot a .iconfont{ font-size: 2.0rem;}